<div class="body container">

  <div class="burgerList item">
    <h3>List of Burgers to Try</h3>
    <div class="notDevouredList">
      {{#each notEaten}}
        <div>{{burger_name}}<button id="{{id}}" class="devoured">Eat Me</button></div>
      {{/each}}
    </div>
  </div>

  <div class="lettuce">
    
  </div>

  <div class="inputArea item">
    <h3>Add Burgers to the List</h3>
      <form>
        <input id="burgerInput" type="text" required>
        <br>
        <button id="submit" type="submit">Submit</button>
      </form>
  </div>
  
  <div class="triedBurgers item">
    <h3>Burgers I have Devoured</h3>
    <div class="devouredList">
      {{#each eaten}}
      <div>{{burger_name}}</div>
      {{/each}}
    </div>

  </div>

</div>

<script>
  $('.devoured').on("click", function() {
    var thisButton = $(this);
    var burgerID = thisButton.attr('id');
    var objBurgerID = {id: burgerID};
    $.post("/eatBurger", objBurgerID, function(response) {
      if(response) {
        console.log(response);
      } 
      console.log("data has been sent.");
    })

    //Reload page
    document.location.reload()
  })

  $('#submit').on("click", function(event) {
    event.preventDefault();
    var newBurger = $('#burgerInput').val().trim();
    var objNewBurger = {burgerName: newBurger};
    console.log(newBurger);
    $.post("/newBurger", objNewBurger, function(response) {
      if(response) {
        console.log(response);
      } 
      console.log("data has been sent.");
    })

    document.location.reload();
  })

</script>